@import url('https://fonts.googleapis.com/css?family=Ubuntu');

div#wb-widget {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 10px;
    z-index: 999;
    
}

div#wb-widget div#wb-btn {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    text-align: center; 
}

div#wb-widget div#wb-btn a img#wb-icon {
    width: 100%;
    margin: 0px;
    align-items: bottom;
}
